@import "tailwindcss";
@layer utilities {
  .font-pixel {
    font-family: "Press Start 2P", monospace;
  }
}
@layer utilities {
  @keyframes plane {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(125vw);
    }
  }

  .animate-plane {
    animation: plane 15s linear infinite;
  }

  @keyframes clouds {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }

  .animate-clouds {
    animation: clouds 2s ease-in-out infinite;
  }
}
